<html lang="en">
{% include head.html %}
<body>

        
        <div class="container">

                {% include header.html %}

                <div class="content-listing">

                        {% for areffect in site.ar_effects %}
                            <div class="content-preview">                                
                                <a href="/ar-effects/Tomorrowland">
                                    <div class="gradient"></div>
                                    <div class="content-text">
                                            <h2>{{ areffect.title }}</h2>
                                            <h3>{{ areffect.type }}</h3>
                                        </div>
                                    <div class="content-mobile-gallery">
                                        <img src="/assets/images/iphone/tomorrowland-phone-1.png" alt="">                                        
                                        {% video_tag assets/videos/tomorrow-land-video.mp4 %}
                                        <img src="/assets/images/iphone/tomorrowland-phone-2.png" alt="">
                                    </div>
                                </a>                
                            </div>
                        {% endfor %}

                    
                
                
                    <!-- <div class="content-preview">
                        <a href="">
                            <div class="content-text">
                                <h2>WebGL</h2>
                            </div>
                            <img src="https://place-hold.it/840x470/#fff/#000.jpg" alt="" class="content-img">
                        </a>                
                    </div> -->
                
                
                </div>
            
                {% include footer.html %}
            
        </div>
    
</body>
</html>

