<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rob Southgate | Creative Developer</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="container">

        <div class="webgl-hero">



        </div>

        <div class="content-listing">

            <div class="content-preview">
                <div class="content-text">
                    <h2>Make it Personal</h2>
                    <h3>Mustang</h3>
                </div>
                <img src="https://place-hold.it/840x470/#fff/#000.jpg" alt="" class="content-img">
            </div>

            <div class="content-preview">
                <div class="content-text">
                    <h2>Make it Personal</h2>
                    <h3>Mustang</h3>
                </div>
                <img src="https://place-hold.it/840x470/#fff/#000.jpg" alt="" class="content-img">
            </div>

            <div class="content-preview">
                <div class="content-text">
                    <h2>Make it Personal</h2>
                    <h3>Mustang</h3>
                </div>
                <img src="https://place-hold.it/840x470/#fff/#000.jpg" alt="" class="content-img">
            </div>


        </div>

    </div>

</body>

</html>