<html lang="en">

{% include head.html %}

<body>        

    <div class="container">

        {% include header.html %}

        <div class="webgl-hero">

            

        </div>

        <div class="content-listing">

            <div class="content-preview">
                <div class="content-text">
                    <h2>Make it Personal</h2>
                    <h3>Mustang</h3>
                </div>
                <img src="https://place-hold.it/840x470/#fff/#000.jpg" alt="" class="content-img">
            </div>

            <div class="content-preview">
                <div class="content-text">
                    <h2>Make it Personal</h2>
                    <h3>Mustang</h3>
                </div>
                <img src="https://place-hold.it/840x470/#fff/#000.jpg" alt="" class="content-img">
            </div>

            <div class="content-preview">
                <div class="content-text">
                    <h2>Make it Personal</h2>
                    <h3>Mustang</h3>
                </div>
                <img src="https://place-hold.it/840x470/#fff/#000.jpg" alt="" class="content-img">
            </div>


        </div>

        {% include footer.html %}

    </div>

    <script src="./assets/app.bundle.js"></script>

</body>

</html>