<html lang="en">

{% include head.html %}

<body>        

    <div class="container">

        {% include header.html %}

        <div class="webgl-hero">

            

        </div>

        <div class="content-listing">

            <div class="content-preview">
                <a href="/ar-effects">
                    <div class="content-text">
                            <h2>AR Effects</h2>
                            <h3>Facebook & Instagram</h3>
                        </div>
                    <img src="/assets/filter-mobile.png" class="content-img">
                </a>                
            </div>


            <div class="content-preview">
                <a href="">
                    <div class="content-text">
                        <h2>Make it Personal</h2>
                        <h3>Mustang</h3>
                    </div>
                    <img src="https://place-hold.it/840x470/#fff/#000.jpg" alt="" class="content-img">
                </a>                
            </div>


        </div>

        {% include footer.html %}

    </div>

    <script src="./assets/app.bundle.js"></script>

</body>

</html>